$primaryColor: #3d405b;
$secondaryColor: #d33e43;
$tertiaryColor: #f4f1de;
$oneRemSize: #{"min(1rem, 4vw)"};
$oneAndHalfRemSize: #{"min(1.5rem, 6vw)"};
$twoRemSize: #{"min(2rem, 8vw)"};
$threeRemSize: #{"min(3rem, 12vw)"};
$fourRemSize: #{"min(4rem, 16vw)"};
